entrypoint = "index.html"
modules = ["python-3.11", "web"]

[nix]
channel = "stable-24_11"
packages = ["poppler_utils", "static-web-server"]

[deployment]
publicDir = "/"
deploymentTarget = "static"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run"

[[workflows.workflow]]
name = "Run"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "static-web-server -w ./.config/static-web-server.toml"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 80
externalPort = 80

[[ports]]
localPort = 3000
externalPort = 3002

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true
